<h1>Daylight</h1>
<h2 id="winning-message"></h2>


<div id="daylight-box">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box-am col-md-3 " onclick="daylightBox(morning)">Morning </div>
    <div class="col-md-1"> </div>
    <div class="box-noon col-md-3" onclick="daylightBox(afternoon)">Afternoon </div>
    <div class="col-md-1"> </div>
    <div class="box-pm col-md-3" onclick="daylightBox(evening)">Evening </div>
  </div>
  
</div>